 body{
	font-family:Verdana,Times, Times New Roman, serif;
	overflow-x:hidden;
	box-sizing:border-box;
}

/* heade and navigation area */
#header{
	background-color:seagreen;
	padding:10px;
}
#header a{
	margin-top:10px;
	margin-bottom:15px;
	margin:5px;
	color:white;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
}

#logo_image{
	width:150px;
	height:50px;
}

#navigation-links a{
	color:seagreen;
	font-weight:bold;
}

#navigation-links a:hover{
	border-bottom:2px solid seagreen;
}


#searchMenu a{
	color:black;
	font-weight:bold;
}
#searchMenu a:hover{
	color:white;
	background-color:seagreen;	 
}

#undergrad{
	color:seagreen;
	margin-left:20px;
	margin-top:20px !important;
	font-size:30px;
}
/*header navigation area ends */

/* main area */
#studentsafairsbg{
	background-image:url('../images/admissions.jpg');
	background-repeat:no-repeat;
	background-position:bottom;
	background-size:cover;
	padding:50px;	 
}
 
 #stbtn{
	 border:2px solid white;
	 background:transparent;
 }
 #stbtn a{
	 color:white;
	 text-shadow:2px 2px 2px black;
	 font-weight:bold;
	 text-decoration:none;
 }
 
 #stbtn:hover{
	 border:2px solid seagreen;
	 background:white;
	 transition:.5s;
	 cursor:pointer;
	  
 }
 
 #stbtn:hover a{ 
	 color:seagreen;
     text-shadow:none;	 
 }
 
 
 #socialmedia{
	 display:inline-table;
	 width:80px;
	 height:80px;
	 border-radius:50%;
	 border:2px solid seagreen;
	 background-color:white;
	 margin:5%;
	 text-align:center;
	 padding-top:18px;
	 color:seagreen;
 }
 
 #socialmedia:hover{
	 display:inline-table;
	 width:80px;
	 height:80px;
	 border-radius:50%;
	 border:2px solid seagreen;
	 background-color:seagreen;
	 margin:5%;
	 text-align:center;
	 padding-top:18px;
	 color:white;
	 cursor:pointer;
 }
 
 #aluminitext{
	 color:white;
	 font-size:30px;
	 font-weight:bold;
	 text-shadow:3px 2px 2px black;
 }
 
 #homecoming{
	 text-align:center;
	 border:2px solid white;
	 padding:20px;
	 margin-left:40%;
	 margin-right:40%;
 }
 
 #homecoming a{
	 color:white;
	 font-weight:bold;
	 font-size:20px;
 }
 
 #homecoming:hover{
	 background-color:white;
	 border:2px solid seagreen;
	 transition:.5s;
 }
 
 #homecoming:hover a{
	 color:seagreen;
 }
 
 #bobcatnetwork{
	background-image:url('../images/walk.jpg');
	background-repeat:no-repeat;
	background-position:top;
	background-size:cover;  
 }
 
 #bobcatnetwork-text{
	 background:whitesmoke;
	 padding:100px;
 }
 
 #learnmore{
	 border:2px solid seagreen;
	 padding:15px;
	 background-color:seagreen;
	 margin-left:20%;
	 margin-right:20%;
	 margin-top:30px;
	 border-radius:10px;
 }
 
 #learnmore:hover{
	 border:2px solid seagreen;
	 padding:15px;
	 background-color:white;
	 transition:.5s;
	 border-radius:10px;
 }
 
 #learnmore a{
	 color:white;
	 font-size:20px;
	 font-weight:bold; 
	 margin-bottom:20px;
	 margin-top:20px;
 }
 
 
 #learnmore:hover a{
	 color:seagreen;
	 font-size:20px;
	 font-weight:bold; 
 }
 
 
 #bbstore{
	 padding:15px;
	 border:2px solid seagreen;
	 text-align:center;
	 width:50%;
	 background:seagreen;
	 border-radius:10px;
 }
 
 #bbstore a{
	 color:white;
	 font-weight:bold;
	 font-size:18px;
 }
 
 #bbstore:hover{
	 padding:15px;
	 border:2px solid seagreen;
	 text-align:center;
	 width:50%;
	 background:white;
	 border-radius:8px;
	 transition:.4s;
 }
 
 #bbstore:hover a{
	 color:seagreen;
 }
 
 #readohiotoday{
	background-image:url('../images/OhioStateUniversity.jpg');
	background-repeat:no-repeat;
	background-position:bottom;
	background-size:cover;  
 }
 
 #ohiotodaybox{
	 padding-top:150px;
	 background:whitesmoke;
	 padding-bottom:150px;
 }
 
 #ohiotodaylink{
	border:2px solid seagreen;
    padding-top:15px;
    padding-bottom:15px;
    background-color:seagreen;
    margin-left:30%;
    margin-right:30%;
    border-radius:8px;	
 }
 
 #ohiotodaylink a{
	 color:white;
	 font-size:15px;
	 font-weight:bold;
 }
 
 #ohiotodaylink:hover{
	border:2px solid seagreen;
    padding-top:15px;
    padding-bottom:15px;
    background-color:white;
    margin-left:30%;
    margin-right:30%;
    border-radius:8px;
    cursor:pointer;	
 }
 
 #ohiotodaylink:hover a{
	 color:seagreen;
 }
 
 #eventsbox{
	 border:2px solid seagreen;
	 padding-top:50px;
	 color:seagreen;
	 border-radius:5px;
 }
 
 #eventsbox p{
	 margin-top:30px;
	 margin-bottom:30px;
 }
 
 #eventsbox a{
	 color:seagreen;
	 font-weight:bold; 
 }
 
 #eventsbox:hover{
	 border:2px solid seagreen;
	 padding-top:50px;
	 color:white;
	 border-radius:5px;
	 background-color:seagreen;
	 cursor:pointer;
	 transition:.5s;
	 box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 #eventsbox:hover a{
	 color:white;
 }
/* main area ends */
  
 

/* footer area starts */
#footercontainer{
	background-color:gray;
}